html, body {
    overflow-x: hidden;
    overflow-y: hidden;
    color: white;

}

@keyframes bg_animate {
    0% {
        background:
            linear-gradient(0deg, transparent 48%, #0D0D0D 50%, transparent 52%) 0 0,
            linear-gradient(60deg, transparent 48%, #0D0D0D 50%, transparent 52%) 0 0,
            linear-gradient(120deg, transparent 48%, #0D0D0D 50%, transparent 52%) 0 0,
            black;
        background-size: 50px 86px;
    }

    33% {
        background:
            linear-gradient(0deg, transparent 48%, #0D0D0D 50%, transparent 52%) 50px 86px,
            linear-gradient(60deg, transparent 48%, #0D0D0D 50%, transparent 52%) 0 0,
            linear-gradient(120deg, transparent 48%, #0D0D0D 50%, transparent 52%) 0 0,
            black;
        background-size: 50px 86px;
    }


    66% {
        background:
            linear-gradient(0deg, transparent 48%, #0D0D0D 50%, transparent 52%) 50px 86px,
            linear-gradient(60deg, transparent 48%, #0D0D0D 50%, transparent 52%) 50px -86px,
            linear-gradient(120deg, transparent 48%, #0D0D0D 50%, transparent 52%) 0px 0px,
            black;
        background-size: 50px 86px;
    }

    100% {
        background:
            linear-gradient(0deg, transparent 48%, #0D0D0D 50%, transparent 52%) 50px 86px,
            linear-gradient(60deg, transparent 48%, #0D0D0D 50%, transparent 52%) 50px -86px,
            linear-gradient(120deg, transparent 48%, #0D0D0D 50%, transparent 52%) 50px 86px,
            black;
        background-size: 50px 86px;
    }



}

body {
    background:
        linear-gradient(0deg, transparent 49%, #111 50%, transparent 51%),
        linear-gradient(60deg, transparent 49%, #111 50%, transparent 51%),
        linear-gradient(120deg, transparent 49%, #111 50%, transparent 51%),
        linear-gradient(180deg, transparent 49%, #111 50%, transparent 51%),
        black;
    background-size: 50px 86px;
    animation: bg_animate 300s infinite linear;

    font-family: sans-serif;
    position: relative;
}

.cell {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

@keyframes hue_rotate {
    from { filter: hue-rotate(0deg); }
    to { filter: hue-rotate(360deg);}
}

.hueRotate {
    animation: hue_rotate infinite 10s linear;
}

.invert {
    filter: invert(1);
}

.bottomLeft {
    position: fixed;
    bottom: 1rem;
    left: 1rem
}

.bottomRight {
    position: fixed;
    bottom: 1rem;
    right: 1rem
}


.top {
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translate(-50%, 0); 
}

.bottom {
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%, 0); 
}

.topLeft {
    position: fixed;
    top: 1rem;
    left: 1rem
}

.topRight {
    position: fixed;
    top: 1rem;
    right: 1rem
}
